body{
  font-family: Geometria;
  background-color: rgba(255, 161, 161, 1);
  display: flex;
  justify-content: center;
}
@font-face {
  font-family: 'Geometria';
  src: url('./fonts/geometria_bold.otf') format('opentype');
}
.calc{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 554px;
  height: 800px;
  border-radius: 18px;
  background: linear-gradient(to left, rgba(40, 81, 142, 1), rgba(58, 119, 209, 1));
}
.story{
  width: 460px;
  height: 117px;
  margin-bottom: 28px;
  color: white;
  font-size: 24px;
  text-align: end;
}
.decision-result{
  width: 460px;
  height: 76px;
  margin-bottom: 18px;
  color: white;
  background-color: transparent;
  outline: transparent;
  border: none;
  font-size: 56px;
  text-align: end;
}
.line{
  width: 460px;
  height: 1px;
  background-color: white;
  margin-bottom: 17px;
}
.keyboard{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 460px;
  height: 464px;
  gap: 20px 16px;
}
.keyboard button{
  width: 100px;
  height: 80px;
  font-size: 36px;
  color: white;
  background-color: transparent;
  border: none;
}
.keyboard button:last-child{
  color: rgba(43, 88, 154, 1);
}
.circle{
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-color: white;
  display: flex;
  align-items: center;
}
.calc-background{
  width: 616px;
  height: 876px;
  border-radius: 18px;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}